.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
  vertical-align: middle;
}

.icon.cursor {
  cursor: pointer;
}

.icon.bigger {
  width: 30px;
  height: 30px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.icon.spin {
  animation: spin 1s linear infinite;
}

.icon-play {
  background-image: url('../../assets/img/automations/play_icon-inactive.svg');
}

.icon-play:hover {
  background-image: url('../../assets/img/automations/play_icon-active.svg');
}

.icon-add {
  background-image: url('../../assets/img/plus-icon-inactive.svg');
}

.icon-myPlus {
  background-image: url('../../assets/img/automations/plus_icon.svg');
}

.icon-add:hover {
  background-image: url('../../assets/img/plus-icon-active.svg');
}

.icon-edit {
  background-image: url('../../assets/img/edit-icon-inactive.svg');
}

.icon-edit:hover {
  background-image: url('../../assets/img/edit-icon-active.svg');
}

.icon-reset {
  background-image: url('../../assets/img/automations/reset_icon.svg');
}

.icon-delete {
  background-image: url('../../assets/img/trash-icon-empty.svg');
}

.icon-delete:hover {
  background-image: url('../../assets/img/trash-icon-full.svg');
}

/* ROOMS AND DEVICES */

.icon-bar {
  background-image: url('../../assets/img/rooms/icon-bar.svg');
}

.icon-bedroom {
  background-image: url('../../assets/img/rooms/icon-bedroom.svg');
}

.icon-guestroom {
  background-image: url('../../assets/img/rooms/icon-guestroom.svg');
}

.icon-ventilation {
  background-image: url('../../assets/img/device/ventilation.svg');
}

.icon-aircondition {
  background-image: url('../../assets/img/device/airCondition.svg');
}

.icon-on {
  background-image: url('../../assets/img/device/on.svg');
}

.icon-off {
  background-image: url('../../assets/img/device/off.svg');
}

.icon-thermo {
  background-image: url('../../assets/img/device/thermometer.svg');
}

.icon-heating {
  background-image: url('../../assets/img/device/heating.svg');
}

.icon-automat-on {
  background-image: url('../../assets/img/device/automat_on.svg');
}

.icon-user {
  background-image: url('../../assets/img/user.svg');
}

